<!-- Loads the path to your static files -->
{%load staticfiles %}
<link rel = "stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Logo -->
        <div class = "navbar-header">
            <a class="navbar-brand" href="{% url 'music:index' %}">Learning</a>

        </div>
    </div>
</nav>
{% if all_albums %}
   <h1>This is the list of all albums:</h1>
    <ul>
        {% for album in all_albums %}
        <li><a href = "{% url 'music:detail' album.id%}">{{ album.album_title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>You don't have any music.</h3>
{% endif %}